<aside class="sidebar">
  <div class="sidebar__top">
    <div class="sidebar__pic-wrap sidebar__pic-wrap--empty">
      <picture class="sidebar__pic">
        <source srcset="img/userpic.webp" type="image/webp">
        <img loading="lazy" src="img/userpic.png" class="image" width="" height="" alt="">
      </picture>
    </div>
    <div class="sidebar__text">
      <div class="sidebar__name">Александр Александрович</div>
      <a href="#" class="sidebar__settings">Настройки</a>
    </div>
  </div>
  <ul class="list-reset sidebar__info">
    <li class="sidebar__info-item">
      <div class="sidebar__info-term">Рейтинг</div>
      <div class="sidebar__info-def">1</div>
    </li>
    <li class="sidebar__info-item">
      <div class="sidebar__info-term">Подписчики</div>
      <div class="sidebar__info-def">1</div>
    </li>
    <li class="sidebar__info-item">
      <div class="sidebar__info-term">Подписки</div>
      <div class="sidebar__info-def">1</div>
    </li>
  </ul>
  <div class="sidebar__bottom">
    <label class="sidebar__radio">
      <input type="radio" name="category" class="visually-hidden sidebar__radio-input" checked>
      <span class="sidebar__radio-text">Посты</span>
    </label>
    <label class="sidebar__radio">
      <input type="radio" name="category" class="visually-hidden sidebar__radio-input">
      <span class="sidebar__radio-text">Комментарии</span>
    </label>
    <label class="sidebar__radio">
      <input type="radio" name="category" class="visually-hidden sidebar__radio-input">
      <span class="sidebar__radio-text">Понравилось</span>
    </label>
    <label class="sidebar__radio">
      <input type="radio" name="category" class="visually-hidden sidebar__radio-input">
      <span  class="sidebar__radio-text">Донаты</span>
    </label>
  </div>
</aside>
