<footer class="footer">
 <nav class="footer-nav" title="">
   <ul class="list-reset footer-nav__list">
     <li class="footer-nav__item"><a href="#" class="footer-nav__link">Реклама</a></li>
     <li class="footer-nav__item"><a href="#" class="footer-nav__link">Партнеры</a></li>
     <li class="footer-nav__item"><a href="#" class="footer-nav__link">Промокоды</a></li>
   </ul>
   <ul class="list-reset footer-nav__list">
     <li class="footer-nav__item"><a href="#" class="footer-nav__link">О проекте</a></li>
     <li class="footer-nav__item"><a href="#" class="footer-nav__link">Контакты</a></li>
   </ul>
   <ul class="list-reset footer-nav__list">
     <li class="footer-nav__item"><a href="#" class="footer-nav__link">Правила</a></li>
     <li class="footer-nav__item"><a href="#" class="footer-nav__link">Конфиденциальность</a></li>
   </ul>
   <div class="footer__link">
     <a href="#" class="footer-nav__link">Помощь</a>
   </div>
   <div class="footer__link">
    <a href="#" class="footer-nav__link">RSS</a>
   </div>
  </nav>
  <div class="footer__copyright">©впуть, 2023</div>
</footer>
