<header class="header">
  <div class="container header__container">
    <picture class="header__logo">
      <source srcset="img/logo.webp" type="image/webp">
      <img loading="lazy" src="img/logo.png" class="image" width="78" height="24" alt="">
    </picture>
    <nav class="header-nav" title="Главное меню">
      <ul class="list-reset header-nav__list">
        <li class="header-nav__item"><a href="#" class="header-nav__link">Лучшее</a></li>
        <li class="header-nav__item"><a href="#" class="header-nav__link">Свежее</a></li>
        <li class="header-nav__item"><a href="#" class="header-nav__link">Партнёры</a></li>
        <li class="header-nav__item"><a href="#" class="header-nav__link">Электронный гид</a></li>
        <li class="header-nav__item"><a href="#" class="header-nav__link">Маршруты</a></li>
      </ul>
    </nav>
    <a href="#" class="header__btn">
      Создать
    </a>
    <ul class="list-reset header__alert">
      <li class="header__alert-item">
        <button class="btn-reset header__alert-btn">
          <svg class="header__alert-icon">
            <use xlink:href="img/sprite.svg#alert"></use>
          </svg>
        </button>
      </li>
      <li class="header__alert-item">
        <button class="btn-reset header__alert-btn">
          <svg class="header__alert-icon">
            <use xlink:href="img/sprite.svg#profile"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>
