<main class="main">
    <section class="filter">
      <select class="filter__list" name="filter" id="main-filter" select-one>
        <option class="filter__item" value="">Все категории</option>
        <option class="filter__item" value="">Развлечения</option>
        <option class="filter__item" value="">Питание</option>
        <option class="filter__item" value="">Культура</option>
        <option class="filter__item" value="">Религия</option>
        <option class="filter__item" value="">Лечение</option>
      </select>
    </section>

    <article class="main-article">
      <div class="main-article__header">
        <a href="#" class="main-article__pic-wrap main-article__pic-wrap--empty">
          <picture class="main-article__pic">
            <source srcset="img/userpic.webp" type="image/webp">
            <img loading="lazy" src="img/userpic.png" class="image" width="" height="" alt="">
          </picture>
        </a>
        <div class="main-article__text">
          <div class="main-article__user">Username</div>
          <div class="main-article__date">DD.MM.YYYY</div>
        </div>
        <button class="btn-reset main-article__more-btn">
          <svg class="main-article__more-icon">
            <use xlink:href="img/sprite.svg#more"></use>
          </svg>
        </button>
      </div>
      <h2 class="main-article__title">Baikal Glory Tours</h2>
      <p class="main-article__descr">Занимаемся турами по Байкалу и Монголии на протяжении 10 лет. Проводим туры любого уровня сложности и направлений: экскурсии, однодневные поездки, активный...</p>
      <picture>
        <source srcset="img/article-1.webp" type="image/webp">
        <img loading="lazy" src="img/article-1.jpg" class="img main-article__image" width="" height="" alt="">
      </picture>
      <ul class="list-reset main-article__footer">
        <li class="main-article__footer-item">
          <button class="btn-reset main-article__footer-btn main-article__footer-btn--heart">
            <svg class="main-article__footer-icon">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
            0
          </button>
        </li>
        <li class="main-article__footer-item">
          <button class="btn-reset main-article__footer-btn main-article__footer-btn--comment">
            <svg class="main-article__footer-icon">
              <use xlink:href="img/sprite.svg#comment"></use>
            </svg>
            0
          </button>
        </li>
        <li class="main-article__footer-item">
          <button class="btn-reset main-article__footer-btn">
            <svg class="main-article__footer-icon">
              <use xlink:href="img/sprite.svg#bookmark"></use>
            </svg>
          </button>
        </li>
      </ul>
    </article>

    <article class="main-article">
      <div class="main-article__header">
        <a href="#" class="main-article__pic-wrap main-article__pic-wrap--empty">
          <picture class="main-article__pic">
            <source srcset="img/userpic.webp" type="image/webp">
            <img loading="lazy" src="img/userpic.png" class="image" width="" height="" alt="">
          </picture>
        </a>
        <div class="main-article__text">
          <div class="main-article__user">Username</div>
          <div class="main-article__date">DD.MM.YYYY</div>
        </div>
        <button class="btn-reset main-article__more-btn">
          <svg class="main-article__more-icon">
            <use xlink:href="img/sprite.svg#more"></use>
          </svg>
        </button>
      </div>
      <h2 class="main-article__title">Прошла Баргузинскую долину</h2>
      <ul class="list-reset main-article__footer">
        <li class="main-article__footer-item">
          <button class="btn-reset main-article__footer-btn main-article__footer-btn--checked main-article__footer-btn--heart">
            <svg class="main-article__footer-icon">
              <use xlink:href="img/sprite.svg#heart-full"></use>
            </svg>
            999
          </button>
        </li>
        <li class="main-article__footer-item">
          <button class="btn-reset main-article__footer-btn main-article__footer-btn--comment">
            <svg class="main-article__footer-icon">
              <use xlink:href="img/sprite.svg#comment"></use>
            </svg>
            0
          </button>
        </li>
        <li class="main-article__footer-item">
          <button class="btn-reset main-article__footer-btn">
            <svg class="main-article__footer-icon">
              <use xlink:href="img/sprite.svg#bookmark"></use>
            </svg>
          </button>
        </li>
      </ul>
    </article>

    <article class="main-article">
      <div class="main-article__header">
        <a href="#" class="main-article__pic-wrap">
          <picture class="main-article__pic">
            <source srcset="img/userpic-1.webp" type="image/webp">
            <img loading="lazy" src="img/userpic-1.png" class="image" width="" height="" alt="">
          </picture>
        </a>
        <div class="main-article__text">
          <div class="main-article__user">Сандуков Цыден</div>
          <div class="main-article__date">10.06.2023</div>
        </div>
        <button class="btn-reset main-article__more-btn">
          <svg class="main-article__more-icon">
            <use xlink:href="img/sprite.svg#more"></use>
          </svg>
        </button>
      </div>
      <p class="main-article__descr">Тур «Вслед за байкальским ветром»</p>
      <picture>
      <ul class="list-reset main-article__footer">
        <li class="main-article__footer-item">
          <button class="btn-reset main-article__footer-btn main-article__footer-btn--heart">
            <svg class="main-article__footer-icon">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
            999
          </button>
        </li>
        <li class="main-article__footer-item">
          <button class="btn-reset main-article__footer-btn main-article__footer-btn--hover">
            <svg class="main-article__footer-icon">
              <use xlink:href="img/sprite.svg#comment"></use>
            </svg>
            0
          </button>
        </li>
        <li class="main-article__footer-item">
          <button class="btn-reset main-article__footer-btn">
            <svg class="main-article__footer-icon">
              <use xlink:href="img/sprite.svg#bookmark"></use>
            </svg>
          </button>
        </li>
      </ul>
    </article>

    <article class="main-article">
      <div class="main-article__header">
        <a href="#" class="main-article__pic-wrap main-article__pic-wrap--empty">
          <picture class="main-article__pic">
            <source srcset="img/userpic.webp" type="image/webp">
            <img loading="lazy" src="img/userpic.png" class="image" width="" height="" alt="">
          </picture>
        </a>
        <div class="main-article__text">
          <div class="main-article__user">Username</div>
          <div class="main-article__date">DD.MM.YYYY</div>
        </div>
        <button class="btn-reset main-article__more-btn">
          <svg class="main-article__more-icon">
            <use xlink:href="img/sprite.svg#more"></use>
          </svg>
        </button>
      </div>
      <h2 class="main-article__title">Делюсь фотографией</h2>
      <picture>
        <source srcset="img/article-2.webp" type="image/webp">
        <img loading="lazy" src="img/article-2.jpg" class="img main-article__image" width="" height="" alt="">
      </picture>
      <ul class="list-reset main-article__footer">
        <li class="main-article__footer-item">
          <button class="btn-reset main-article__footer-btn main-article__footer-btn--checked">
            <svg class="main-article__footer-icon">
              <use xlink:href="img/sprite.svg#heart-full"></use>
            </svg>
            999
          </button>
        </li>
        <li class="main-article__footer-item">
          <button class="btn-reset main-article__footer-btn main-article__footer-btn--comment">
            <svg class="main-article__footer-icon">
              <use xlink:href="img/sprite.svg#comment"></use>
            </svg>
            256
          </button>
        </li>
        <li class="main-article__footer-item">
          <button class="btn-reset main-article__footer-btn">
            <svg class="main-article__footer-icon">
              <use xlink:href="img/sprite.svg#bookmark"></use>
            </svg>
          </button>
        </li>
      </ul>
    </article>
</main>
